{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

</head>
<body>
{% block extra_js %}

    <script type="text/javascript">
        $(document).ready(function () {


            if (geoPosition.init()) {  // Geolocation Initialisation
                geoPosition.getCurrentPosition(success_callback, error_callback, {enableHighAccuracy: true});
            } else {
                alert('Sorry, we can\'t localize you.');
            }
            {#    geoPositionSimulator.init();#}

            // p : geolocation object
            function success_callback(p) {
                {#            alert(p);#}
                $('#id_lat').val(p.coords.latitude);
                $('#id_lng').val(p.coords.longitude);

                latitude = p.coords.latitude;
                longitude = p.coords.longitude;
                radius = $('#id_radius').val();
                $.get("/places/nearby/", { lat: latitude, lng: longitude, radius: radius})
                        .done(function (data) {
                            {#                        alert(data);#}
                            places_div = $('#id_places');
                            $('#id_places_count').html(data.count);
                            {#                        pl_json = data.places;#}
                            {#                        alert(data.places);#}
                            counter = 0;
                            {#                            places_div.append("<tr><td>Place</td><td>Distance</td></tr>");#}
                            $.each(data.places, function (index, obj) {
                                {#                                alert(obj);#}
                                outlet_stat = "";
                                if (obj.outlets > 0) {
                                    outlet_stat = "<i class='fa fa-thumbs-o-up'></i>";
                                }
                                if (obj.outlets == 0) {
                                    outlet_stat = "<i class='fa fa-question'></i>";
                                }
                                if (obj.outlets < 0) {
                                    outlet_stat = "<i class='fa fa-thumbs-o-down'></i>";
                                }
                                places_div.append("<tr class='frsq_td'><td><a href='" + obj.url + "'>" + obj.name + "</a></td><td>" + obj.dist + "</td><td>" + outlet_stat + "</td></tr>");

                                {#    places_div.append("<a href='/places/" + obj.uuid + "'>" + obj.name + "</a>" + "<br/>");#}
                            });
                            {#                        for (var place in data.places) {#}
                            {#                            div.val().append(place.name);#}
                            {#                        }#}


                        });
                {#                    alert(p.coords.latitude + ' -- ' + p.coords.longitude);#}
                {#            $.get("/get-geo/", {lat: p.coords.latitude, lon: p.coords.longitude})#}
                {#                    .done(function (data) {#}
                {#                        alert("Data Loaded: " + data);#}
                {#                        if (data.find) {#}
                {#                            alert(data.message);#}
                {#                            $('#id_invitation_code').val(data.inv_code);#}
                {##}
                {##}
                {#                            toastr.options = {#}
                {#                                closeButton: false,#}
                {#                                debug: false,#}
                {#                                positionClass: 'toast-top-full-width',#}
                {#                                onclick: null#}
                {#                            };#}
                {#                            toastr['info'](data.message);#}
                {#                        }#}
                {##}
                {#                    });#}
                // p.latitude : latitude value
                // p.longitude : longitude value
            }

            function error_callback(p) {
                // p.message : error message
                {#        alert('none');#}
            }

            $('#id_slider_radius').html($('#id_radius').val());
            $('#id_radius').change(function () {
                $('#id_slider_radius').html($(this).val());
            });


        });
    </script>
 <style>
	input[type='range'] {
		-webkit-appearance: none;
		border-radius: 10px;
		box-shadow: inset 0 0 5px #333;
		background-color: #eee;
		height: 10px;
		vertical-align: middle;
        margin: 20px 0;
	}
	input[type='range']::-moz-range-track {
		-moz-appearance: none;
		border-radius: 5px;
		box-shadow: inset 0 0 5px #333;
		background-color: #fff;
		height: 10px;
	}
	input[type='range']::-webkit-slider-thumb {
		-webkit-appearance: none !important;
		border-radius: 10px;
		background-color: #FFF;
		box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
		border: 1px solid #999;
		height: 30px;
		width: 30px;
	}
	input[type='range']::-moz-range-thumb {
		-moz-appearance: none;
		border-radius: 30px;
		background-color: #FFF;
		box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
		border: 1px solid #999;
		height: 30px;
		width: 30px;
	}
</style>

{% endblock extra_js %}
{% block content %}

    {#    <div class="container">#}
    {#        <div class="jumbotron text-center">#}
    {#            <h2>Hey, give me some Juice!</h2>#}
    {#        </div>#}
    {#    </div>#}
    <div class="container text-center">
        <div class="row">
            <div class="col-xs-12">
                <form class="form form-inline" method="get" action="{% url 'places_around' %}">
                    <div>{{ locaction_form }}
                        <button class="btn btn-default" type="submit"><i class="fa fa-crosshairs"></i> <span
                                id="id_slider_radius">500</span>m
                        </button>
                    </div>

                </form>

            </div>
        </div>

    </div>


    <div class="container text-center">
        <h1 id="places_around">Places arround <span id="id_places_count"><i class="fa fa-spinner fa-spin"></i></span>
        </h1>
        <table class="table text-center">
            <thead class="text-center">
            <tr>
                <th>Place</th>
                <th>Distance</th>
                <th>Outlets</th>
            </tr>

            </thead>
            <tbody id="id_places" class="text-center">
            </tbody>
        </table>

    </div>
    {#<script src="{{ STATIC_URL }}js/home.js" type="text/javascript" charset="utf-8"></script>#}
{% endblock %}
</body>
</html>