{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

</head>
<body>
{% block extra_js %}
    <script type="text/javascript">
        if (geoPosition.init()) {  // Geolocation Initialisation
            geoPosition.getCurrentPosition(success_callback, error_callback, {enableHighAccuracy: true});
        } else {
            // You cannot use Geolocation in this device
        }
        {#    geoPositionSimulator.init();#}

        // p : geolocation object
        function success_callback(p) {
            {#            alert(p);#}
            $('#id_lat').val(p.coords.latitude);
            $('#id_lng').val(p.coords.longitude);

            latitude = p.coords.latitude;
            longitude = p.coords.longitude;
            radius = $('#id_radius').val();
            $.get("/places/around/", { lat: latitude, lng: longitude, radius: radius})
                    .done(function (data) {
                        {#                        alert(data);#}
                        places_div = $('#id_places');
                        $('#places_around').append(data.count + "<br/>");
                        {#                        pl_json = data.places;#}
                        {#                        alert(data.places);#}
                        counter = 0;
                        $.each(data.places, function (index, obj) {
                            places_div.append("<big><a href='/places/" + obj.uuid + "'>" + obj.name + "</a></big></br>");

                            {#    places_div.append("<a href='/places/" + obj.uuid + "'>" + obj.name + "</a>" + "<br/>");#}
                        });
                        {#                        for (var place in data.places) {#}
                        {#                            div.val().append(place.name);#}
                        {#                        }#}


                    });
            {#                    alert(p.coords.latitude + ' -- ' + p.coords.longitude);#}
            {#            $.get("/get-geo/", {lat: p.coords.latitude, lon: p.coords.longitude})#}
            {#                    .done(function (data) {#}
            {#                        alert("Data Loaded: " + data);#}
            {#                        if (data.find) {#}
            {#                            alert(data.message);#}
            {#                            $('#id_invitation_code').val(data.inv_code);#}
            {##}
            {##}
            {#                            toastr.options = {#}
            {#                                closeButton: false,#}
            {#                                debug: false,#}
            {#                                positionClass: 'toast-top-full-width',#}
            {#                                onclick: null#}
            {#                            };#}
            {#                            toastr['info'](data.message);#}
            {#                        }#}
            {##}
            {#                    });#}
            // p.latitude : latitude value
            // p.longitude : longitude value
        }

        function error_callback(p) {
            // p.message : error message
            {#        alert('none');#}
        }
    </script>
{% endblock extra_js %}
{% block content %}

    <div class="container">
        <div class="jumbotron text-center">
            <h2>Hey, give me some Juice!</h2>
        </div>
    </div>
    <div class="container text-center">

        <input type="text">
        <button><i class="glyphicon glyphicon-adjust"></i></button>
        <form class="form" method="get" action="{% url 'places_around' %}">
            <div class="form-group">{{ locaction_form.as_p }}</div>
            <button class="btn btn-primary btn-lg" type="submit">Submit</button>
        </form>
    </div>


    <div class="container text-center">
        <h1 id="places_around">Places arround ... </h1>

        <div id="id_places"></div>

    </div>
    {#<script src="{{ STATIC_URL }}js/home.js" type="text/javascript" charset="utf-8"></script>#}
{% endblock %}
</body>
</html>