{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{{ place }}{% endblock title %}</title>
</head>
<body>
{% block content %}
    <div class="container-fluid">
        <div class="jumbotron text-center"><h1>{{ place }}</h1></div>
    </div>
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-xs-4">
                Type of place
            </div>
            <div class="col-xs-4">
                Address
            </div>
            <div class="col-xs-4">
                Right now
            </div>
        </div>
        <div class="row lead">
            <div class="col-xs-4">
                {% for c in venue.categories %}
                    {{ c.name }}
                {% endfor %}
            </div>
            <div class="col-xs-4">
                {% for c in venue.location.formattedAddress|slice:":2"%}
                    {{ c }}
                {% endfor %}
            </div>
            <div class="col-xs-4">
                Open
            </div>
        </div>
    </div>
    <div class="container text-center">
        <h1>Can you Juice?</h1>

        <div class="row">
            <div class="col-xs-4">
                <span class="glyphicon glyphicon-thumbs-up btn-lg"></span>
            </div>
            <div class="col-xs-4">
                <span class="glyphicon glyphicon-thumbs-remove btn-lg"></span>
            </div>
            <div class="col-xs-4">
                <span class="glyphicon glyphicon-thumbs-down btn-lg"></span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                           aria-expanded="false" aria-controls="collapseOne">
                            Ground floor
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <h3>Can you Juice? YES / CAN'T SAY / NO</h3>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                           aria-expanded="false" aria-controls="collapseTwo">
                            1. Floor
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <h3>Can you Juice? YES / CAN'T SAY / NO</h3>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                           aria-expanded="false" aria-controls="collapseThree">
                            2. Floor
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <h3>Can you Juice? YES / CAN'T SAY / NO</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
</body>
</html>