{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>
                {{ places_count }} place{{ places_count|pluralize }} found!
            </h1>
        </div>
    </div>
    <div class="container">
        <table class="table text-center">
            <tr>
                <td>Place</td>
                <td>Distance</td>
                <td>Juice</td>
            </tr>
            {% for place in place_list %}
                <tr class="frsq_td">
                    <td><a href="{{ place.get_absolute_url }}"> {{ place.name }} </a></td>
                    <td>{{ place.dist }}</td>
                    <td>
                        {% if place.outlet_yes > place.outlet_no %}
                            <i class='fa fa-check-circle-o'></i>
                        {% endif %}
                        {% if place.outlet_yes == place.outlet_no %}
                            <i class='fa fa-question'></i>
                        {% endif %}
                        {% if place.outlet_yes < place.outlet_no %}
                            <i class='fa fa-times-circle-o'></i>
                        {% endif %}

                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}
</body>
</html>